body
{
	background-color: #eee;
}

.form
{
	max-width: 330px;
	padding: 15px;
	margin: 0 auto;
}

.form .form-heading, .form
{
	margin-bottom: 10px;
}

.form-control
{
	position: relative;
	height: auto;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
	padding: 10px;
	font-size: 16px;
}

#login, .show-loggedin
{
	display: none;
}

#login
{
	position: relative;
	padding-top: 40px;
	padding-bottom: 40px;
}

#login-info, #change-password-info
{
	display: none;
}

.form-control-group
{
	margin-bottom: 10px;
}

.form-control-group *:not(:first-child)
{
	margin-top: -1px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
}

.form-control-group *:not(:last-child)
{
	border-bottom-left-radius: 0;
	border-bottom-right-radius: 0;
}