#navbar
{
	margin-top: 40px;
	margin-bottom: 20px;
}

#wallpaper
{
	position: fixed;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	background: url(../images/wallpaper.jpg) no-repeat;
	background-size: auto 100%;
	z-index: -1;
}

.album
{
	// Not the best way to force the same height for all albums...
	height: 523px;
}

.album-artist
{
	font-size: 18px;
}

.album-title
{
	font-size: 24px;
	font-weight: bold;
}

.album-releasedate
{
	font-size: 16px;
	color: #777;
}
